@use 'variables' as v;

.collapse-content {
    /*   display: none; */
    background: v.$light-hover;
    height: 0px;
    color: white;
    transition: 200ms ease-in;
    margin-top: 0;
    overflow: hidden;
}

.collapse-p {
    margin: 0;
    padding: 20px;
}

.collapse {
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
}

.active {
    /*   display: block; */
    height: 300px;
    color: black;
    transition: 200ms ease-in;
}