@use 'variables' as v;

form {
    border-radius: v.$radius;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background: #606060b7;
    padding: 25px;
    margin: 25px;
    h2 {
        margin: 0 0 .5rem;
        color: v.$light-accent;
    }
}

input,
textarea,
select,
button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid v.$light-accent;
    border-radius: v.$radius;
}

input::placeholder {
    color: #666;
}

button {
    margin-bottom: 0;
    border: none;
    background: v.$light-accent;
    font-weight: 400;
    color: #fff;
}

button:hover {
    background: v.$light-hover;
}

