@use 'variables' as v;

form {
    padding: 25px;
    margin: 25px;
    // box-shadow: 0 2px 5px #f5f5f5;
    background: #606060b7;

    h2 {
        margin: 0 0 .5rem;
        color: v.$light-accent;
    }
}

input,
textarea,
select {
    font-size: 16px;
    width: calc(100% - 18px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid v.$light-accent;
}

input::placeholder {
    color: #666;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1da9ef;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

button:hover {
    background: v.$light-hover;
}

div {
    padding: .5rem;

    a {
        color: #1da9ef;
    }
}