@use 'variables' as v;
// header{
//     position: relative;

// }
// nav items

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    // background: black;
    align-items: center;
    margin: 0;
    padding: 0 .5rem;
    padding-top: .5rem;
}

.mb-header {
    display: none;
}

nav {
    text-align: center;
    max-width: 760px;
    .nav-icon{
        display: none;
    }
    ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;

        li {
            a {
                text-decoration: none;
                font-weight: bold;
                padding: .75rem;
                margin: .5rem;
                text-align: left;
                transition: .5s;
                font-size: clamp(1rem, 2vmin, 1.5rem);

                &:hover {
                    background: v.$white;
                    border-radius: v.$radius;
                    color: v.$light-accent;
                }
            }
        }
    }
}

// hero items
.hero-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // flex: 0 0 100%;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.header-title-container {
    padding: 2rem;
    width: 50%;
}