@use 'variables' as v;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: static;
}

header {
    background: url(../assets/hero.jpg) no-repeat center top #0000005b;
    background-size: cover;
    background-blend-mode: lighten;
    min-height: 100vh;
    align-self: stretch;
    color: white;
    // display: flex;
    // flex-wrap: wrap;
    // overflow-x: hidden;

    h1 {
        // font-size: 6rem;
        font-size: 6rem;
        font-size: clamp(2.5rem, 5vw, 6rem);
        margin: 0;
    }

    p {
        // color: v.$dark-accent;
        color: v.$light-accent;
        color: #fff;
    }
}

.header-title-container h2 {
    color: v.$light-accent;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    margin: 5rem 0;
}

div {
    padding: .5rem;

    a {
        color: v.$light-accent;
    }
}

.color-overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #0000009b;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
}

.nav-logo {
    height: 75px;
}

.nav-btn {
    background: #fff;
    border-radius: v.$radius;
    color: v.$light-accent;
    padding: .75rem;
    margin: auto 0;
}


.services-container,
.testimonial-container {
    display: flex;
    justify-content: space-between;
    // flex: 1 0 100%;
    width: 80%;
    flex-wrap: wrap;
}



.about-us-container {
    grid-column: 2/3;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5rem;

    h2 {
        margin-bottom: .5rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 4rem 0;
    h2 {
        grid-row: 1/2;
        grid-column: 2/3;
        color: v.$light-accent;
        padding-bottom: .5rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    // these values aren't working how i want. i can't get them to shrink how i want and still have a max height 
    // flex: 0 1 auto;
    width: 25%;
    min-width: 250px;
    min-height: 400px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
    border-radius: v.$radius;
    overflow: hidden;
margin: .5rem;
// img{
//     max-width: 350px;
// }    
p,
    a {
        padding: 1rem;
        margin: 0;
    }

    strong,
    .testimonial-sub {
        margin: 0 0 0 1rem;
        padding: 0;
        text-align: left;
    }

    //needs work
    .emphasize {
        margin: auto .5rem;
        padding: 1rem;
        border: 1px solid black;
        font-weight: bold;
        font-size: larger;
        border-radius: v.$radius;
    }
}

.services-card-img {
    width: 100%;
}