@use 'variables' as v;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: v.$dark-grey;
}

html {
    height: 100%;
    margin: 0;
    line-height: 1.25;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

h2 {
    font-size: xx-large;
}

header {
    background: url(../assets/hero1.jpg);
    //  no-repeat center top #0000005b;
    // background-size: cover;
    // background-blend-mode: lighten;
    // min-height: 100vh;
    // align-self: stretch;
    color: v.$white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        font-size: 6rem;
        font-size: clamp(2.5rem, 5vw, 6rem);
        margin: 0;
        color: v.$white;
    }

    h2 {
        font-size: x-large;
    }

    p {
        // color: v.$dark-accent;
        color: v.$light-accent;
        color: v.$white;
    }
}

.contact-header {
    background: none;
    height: auto;
}

.header-title-container h2 {
    color: v.$light-accent;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    // margin: 5rem 0;
    background: v.$white;
}

div {
    padding: .5rem;

    a {
        color: v.$light-accent;
    }
}

.color-overlay {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #0000009b;
    // background: linear-gradient( rgb(0, 0, 0), rgba(0, 0, 0, 0.637));
    height: 100%;
    width: 100%;
    // position: absolute;
    padding: 0;
}

.nav-logo {
    height: 75px;
}

.nav-btn {
    background: v.$white;
    border-radius: v.$radius;
    color: v.$light-accent;
    padding: .75rem;
    margin: auto 0;
}


.services-container,
.testimonial-container {
    display: flex;
    justify-content: space-between;
    // flex: 1 0 100%;
    width: 80%;
    flex-wrap: wrap;
}


.about-us-container {
    grid-column: 2/3;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5rem;

    h2 {
        margin-bottom: .5rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    // margin: 4rem 0;
    padding: 3rem;

    h2 {
        color: v.$light-accent;
        padding-bottom: .5rem;
    }
}

.about-wrapper {
    background: #5379921b;
    padding: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    // these values aren't working how i want. i can't get them to shrink how i want and still have a max height 
    // flex: 0 1 auto;
    width: 25%;
    min-width: 300px;
    min-height: 400px;
    background: v.$white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
    border-radius: v.$radius;
    overflow: hidden;
    margin: .5rem;

    p,
    a {
        padding: 1rem;
        margin: 0;
    }

    strong,
    .testimonial-sub {
        margin: 0 0 0 1rem;
        padding: 0;
        padding-bottom: 1rem;
        text-align: left;
    }

    //needs work
    h3 {
        margin: auto .5rem;
        padding: 1rem;
        font-weight: bold;
    }
}

.testimonial-card {
    display: block;
    padding: 0;

    // background: 
    h3 {
        background: v.$light-accent;
        margin: 0;
        color: v.$white;
        text-align: center;
    }
}

.testimonials-wrapper,
.services-wrapper {
    background: url(../assets/Bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-card-img {
    width: 100%;
}