@use 'variables' as v;

@media only screen and (max-width: 1275px) {

    .header-title-container {
        padding: 2rem;
        width: 80%;
    }

    header h1 {
        font-size: clamp(2.5rem, 8vw, 8rem);
    }

    .header-form-container {
        display: none;
    }
}


//breakpoint at 1030 for cards and faq. 
// breakpoint at 900 for menu
// breakpoint at 850 for cta
// breakpoint at 1516 for faq 

@media only screen and (max-width: 900px) {
   nav{
    display:none;
   }
   .nav-container{
    justify-content: center;
   }
   .nav-logo{
    height: 125px;
   }
}