@use 'variables' as v;

@media only screen and (max-width: 1275px) {

    .header-title-container {
        padding: 2rem;
        width: 80%;
    }

    header h1 {
        font-size: clamp(2.5rem, 8vw, 8rem);
    }

    .header-form-container {
        display: none;
    }
}


//breakpoint at 1030 for cards and faq. 
// breakpoint at 900 for menu
// breakpoint at 850 for cta
// breakpoint at 620 fir header redesign
// breakpoint at 1516 for faq 

// cards and FAQ
@media only screen and (max-width: 1030px) {
    .faq-container {
        justify-content: center;
    }
}
    // Header design
    @media only screen and (max-width: 900px) {
        nav {
            display: none;
        }

        .nav-container {
            justify-content: center;
        }

        .nav-logo {
            height: 125px;
        }
    }

    // CTA Sizing Updates
    @media only screen and (max-width: 850px) {
        .cta-headshot {
            display: none;
        }

        .cta-container {
            padding: 2rem;
        }

    }

    // card design
    @media only screen and (max-width: 710px) {
        .card {
            flex-basis: 100%;
            flex: 1;
        }
    }

    // header design
    @media only screen and (max-width: 620px) {
        header {
            background: #5379921b;
            // background: url(../assets/hero.jpg);
            // background-size: contain;
            height: auto;
            color: black;
            p{
                color: black;
            }
        }

        .header-title-container {
            padding: 1rem;
            width: 95%;
        }

        .color-overlay {
            //    height: auto; 
            background: none;
        }

        .nav-container {
            width: 100%;
            // background: rgba(0, 0, 0, 0.621);
            background: #5379921b;
        }

        .mb-header {
            display: block;
            width: 100%;
        }

        .hero-container {
            // background: url(../assets/hero.jpg);
            // background-size:contain;
            // background-repeat: no-repeat;
        }

    }

    // header {
    //     background: url(../assets/hero.jpg);
    //  no-repeat center top #0000005b;
    // background-size: cover;
    // background-blend-mode: lighten;
    // min-height: 100vh;
    // align-self: stretch;
    // color: white;
    // height: 100%;
    // background-position: center;
    // background-repeat: no-repeat;