@use 'variables' as v;

@media only screen and (max-width: 1275px) {

    .header-title-container {
        padding: 2rem;
        width: 80%;
    }

    header h1 {
        font-size: clamp(2.5rem, 8vw, 8rem);
    }

    .header-form-container {
        display: none;
    }
}


//breakpoint at 1030 for cards and process. 
// breakpoint at 900 for menu
// breakpoint at 850 for cta
// breakpoint at 620 for header redesign


// cards and FAQ
@media only screen and (max-width: 1030px) {

    .faq-container,
    .services-container,
    .testimonial-container {
        justify-content: center;
    }
    .testimonials-wrapper {
        align-items: center;
    }
    .faq-container{
        width: auto;
    }

    .collapse-container {
        width: 100%;
    }
    .process-wrapper{
        padding: 5rem 2rem;
        h2{
            margin-top: 0;
        }
    }
}

// Header design
@media only screen and (max-width: 900px) {
    nav {
        display: none;
    }

    .nav-container {
        justify-content: center;
    }

    .nav-logo {
        height: 125px;
    }
}

// CTA Sizing Updates
@media only screen and (max-width: 850px) {
    .cta-headshot {
        display: none;
    }

    .cta-container {
        padding: 2rem;
    }
    .cta-wrapper{
        margin: 2rem;
    }

}

// card design
@media only screen and (max-width: 710px) {
    .card {
        flex-basis: 100%;
    }
}

// header design
@media only screen and (max-width: 620px) {
    header {
        height: auto;
    }

    .header-title-container {
        padding: 1rem;
        width: 95%;
    }

    .color-overlay {
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.608));
    }

    .nav-container {
        width: 100%;
    }

    .hero-container {
        // background: url(../assets/hero.jpg);
        // background-size:contain;
        // background-repeat: no-repeat;
    }
 .about-wrapper{
    padding: 1rem;
 }
    .faq-card {
        max-width: none;
    }

    .faq-container {
        width: auto;
    }
}