@use 'variables' as v;
.thanks-container{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    flex-wrap: wrap;
    align-self:center;
    h1{
        color: v.$light-accent;
        margin: 0;
        
    }
    
}
.thanks-body {
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 80%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/hero.jpg);
    background-position: center;
}
.thanks-p{
    font-size: 6rem;
    font-size: clamp(2.5rem, 5vw, 6rem);
    color: white;
    margin: 0;
}