<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <!-- <script defer src="../js/date.js"></script>? -->
    <title>KP Builder | Contact</title>
</head>

<body class="contact-body">
    <header class="">
        <div class="nav-container">
            <a href="../index.html"><img class="nav-logo" src="../assets/KPLogoLBlue.png" alt="Business Logo" /></a>
            <nav>
                <ul>
                    <li><a href="../index.html#about-wrapper">About</a></li>
                    <li><a href="../index.html#services-wrapper">Services</a></li>
                    <li><a href="../index.html#testimonial-wrapper">Tesimonials</a></li>
                    <li><a href="#process-wrapper">Process</a></li>
                    <li class="nav-btn"><a href="../view/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <article class="contact-form">
        <div class="">
            <form action="https://formsubmit.co/e45604806e8e1ca355c351566792db97" method="POST">
                <h2>MAKE AND INQUIRY</h2>
                <label for="name">
                  <input type="text" name="name" id="name" placeholder="Name*" required>
                </label>
                <label for="email">
                  <input type="email" name="email" id="email" placeholder="email">
                </label>
                <label for="phone">
                  <input type="tel" name="phone" id="phone" placeholder="Phone*" required>
                </label>
                <select name="job type" id="jobType" required>
                  <option value="" selected disabled>--Please choose an option--</option>
                  <option value="bathroom">Bathroom</option>
                  <option value="bedroom">Bedroom</option>
                  <option value="concrete">Concrete</option>
                  <option value="deck">Deck</option>
                  <option value="kitchen">Kitchen</option>
                  <option value="other">Other</option>
                </select>
                <textarea name="Additional Details" cols="30" rows="6" placeholder="Additional details"></textarea>
                <button type="submit">Send Message</button>
                <div>Or call: <a href="tel:+18019419503">801-941-9503</a></div>
                <input type="hidden" name="_template" value="box">
                <input type="hidden" name="_next" value="https://www.kpbuildersutah.com/view/thanks.html">
                <input type="hidden" name="_subject" value="KP Builders Communication Request">
                <!-- Too see other hidden field options and to learn about creating an archive go to: https://formsubmit.co/documentation -->
              </form>
        </div>
    </article>
</body>

</html>