<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KP Builders | Portfolio</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    <article class="services-card card">
        <img class="services-card-img" src="../assets/outdoorSq.jpg" alt="">
        <a href="./view/outdoor.html">DECKS AND OUTDOOR LIVING</a>
        <P>There is no better way to enjoy a Northern Utah sunrise or stunning sunset than by sitting on your own
          private deck. We build to suit, using top-rated materials for our high desert climate. Ask for estimates on
          balconies, covered decks and spa spaces.</P>
        </P>
    </article>
    
</body>
</html>